# This is the configuration file for MIS: 111803084 HTTP Server

# Syntax:
# Name = Value

# Leave it blank to run the testing program, else give the path where the server is located
#DocumentRoot = /home/rhugaved/TYCourses/CN/Project

error_log = log/error.log
access_log = log/access.log
log_level = 3

port = 8800

username = rhugaved
password = rn@123

MaxSimultaneousConnections = 100

